.heading {
    display: flex;
    background: #270F33;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}

.icon {
    text-align: center;
}

.searchbar-links {
    display: flex;
    position: relative;
}

.searchbar {
    display: flex;

}

.search {
    width: 100%;
    height: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid white;
    background: #270F33;
    font-family: sans-serif;
}

.icon-search-cnt{
    position: absolute;
    right: 10px;
    top: 4px;
}

.link {
    display: block;
}

.nav {
    margin: 0 10px;
    color: black;
    width: 76px;
    height: 28px;
    left: 815px;
    top: 37px;
     background: #FBD07A;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 5px;
    padding: 5px 10px;
}
.nav-none{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 767px){
    .links{
        display: none;
    }
}