

.input-contact{
    display: grid;
   grid-template-columns: 2fr 0.5fr;
   grid-template-rows: 1fr;
}
.footer{
    background: #270F33;
    color: white;
    padding: 25px 20px;
}
.update-input{    
    border: 3px solid #FBD07A;
    margin: 10px 20%;
    padding: 30px 55px;
    border-radius: 15px;
    width: 50%;
}
.update-heading{
    margin: 10px 0;
    text-align: left;
    font-size: 24px;
}
.enter-email{
    padding: 10px;
    border-radius: 7px;
    width: 60%;
    height: 30px;
    border: none;
}
.submit{
    padding:10;
    position: absolute;
    top: 30%;
    right: 38%;
    background:  #FBD07A;
    border: none;
    padding: 5px 10px;
    font-weight: 500;
}
.inputEmail-submitBtn{
    margin: 10px 0;
    text-align: left;
    position: relative;
}

.contact-heading{
    font-size: 24px;
    text-align: initial;
}
.email-text,.phone-text{
    font-size: 12px;
}
.email,.phone,.social-media{
    display: flex;
}
.mg-10{
    margin: 5px;
}
.contact{
    margin-top: 15%;
}

@media screen and (max-width: 767px){
    .contact-heading{
        font-size: 18px;
        width: 500;
    }
    .input-contact{
        display: block;
    
    }
    .update-input{
        margin: 10px 10%;
        padding: 10px 30px;
    }
    .contact{
        margin: 10%;
    }
    .update-heading{
        font-size: 12px;
    }
    .enter-email{
        width: 100%;
    }
    .submit{
        right: 8%;
    }

}